<!-- footer top start -->
			<!-- ================ -->
			
		<br><br>	
			<!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
			<!-- ================ -->
			<footer id="footer1" class="clearfix dark">

				<!-- .footer start -->
				<!-- ================ -->
				<div class="footer1">
					<div class="container">
						<div class="footer-inner">
							<div class="row">
								<div class="col-md-6 col-md-offset-3">
									<div class="footer-content text-center padding-ver-clear">
									
										<ul class="list-inline mb-20">
											<li><i class="text-default fa fa-map-marker pr-5"></i>2950 W Arthur Ave,Chicago,IL,60645</li>
											<li><a  class="link-dark"><i class="text-default fa fa-phone pl-10 pr-5"></i>312-981-9464</a></li>
											<li><a  class="link-dark"><i class="text-default fa fa-envelope-o pl-10 pr-5"></i>fidansaid@gmail.com</a></li>
										</ul>
									
										<div class="separator"></div>
										<p class="text-center margin-clear">Copyright © 2017 The Project by <a target="_blank" >Esale</a>. All Rights Reserved</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .footer end -->

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    
                </div>
            </div>
        </div>
    </footer>
			<!-- footer end -->
        <!-- End Promo Section -->
        